@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  padding: 40px 0;
  border-bottom: 1px solid #000;
}
.wrapper {
  max-width: 1450px;
  width: 95%;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  color: rgba(0, 0, 0, 0.8);
  font-family: Rubik;
  text-transform: capitalize;
}

.link {
  font-weight: bold;
}

.nav-link:hover {
  color: #000;
  font-weight: bold;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.truck span {
  font-size: 16px;
  font-family: Rubik;
}

.truck span {
  display: inline-block;
  font-size: 16px;
  color: #36479d;
  letter-spacing: 0.45px;
  font-size: 15px;
  padding-top: 8px;
  text-transform: capitalize;
}

.truck span:nth-child(2) {
  display: inline-block;
  font-size: 30px;
}

.trucker {
  color: #36479d;
}

.shop {
  width: 10%;
}

.shop span i {
  margin-left: 25%;
  font-size: 20px;
  display: inline-block;
  font-weight: 500;
  transition: .5s;
}

.shop span i:hover {
  cursor: pointer;
}

.banner-section-content {
  padding-top: 100px;
}

.banner {
  width: 100%;
  height: 500px;
}

.banner-img {
  width: 100%;
  height: 500px;
}
.banner-img img {
  width: 100%;
  height: 500px;
}

h1 {
  margin-bottom: 20px;
}


.banner-main {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
}
h1 {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
}
.banner-content {
  width: 30%;
  margin: auto 0;
}
.banner-img {
  width: 60%;
}

.banner-img img {
  width: 100%;
}

.banner-content p {
  margin-top: 10px;
  font-size: 16px;
  font-family: Rubik;
  line-height: 1.3;
}

.banner-content input {
  margin-top: 20px;
}

.slide h2 {
  padding-top: 130px;
  font-size: 70px;
  text-transform: uppercase;
  font-family: Rubik;
}

.slide p {
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.shop-now {
  display: inline-block;
  padding: 12px 30px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.5s;
  border: 1px solid #000;

}

.shop-now:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.shop span i:hover {
  font-weight: 700;
  color: #000;
}

.california-section {
  margin: 0 auto;
  padding: 150px 0;
}

.colifornia-main {
  display: flex;
  justify-content: space-between;
}

.california-content {
  width: 45%;
  padding-left: 20px;
}

h2 {
  color: #151515;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: Rubik;
}

h5 {
  color: #151515;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.california-section p {
  margin-top: 40px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.45px;
}

.read {
  color: #6ba8e7;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 25px;
  padding-bottom: 10px;
  transition: .5s;
}

.read:hover {
  color: #000;
}

.read span {
  color: #000;
  padding-left: 10px;
}

.video-iframe {
  display: flex;
  justify-content: flex-end;
}

.video-section {
  width: auto;
  padding-right: 100px;
  margin: auto 0;
  position: relative;
  z-index: 10;
}


/* more proucts start */

.more-products .wrapper {
  padding: 100px 0;
}
.product-grid {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.prod {
  padding: 100px 0 50px 0;
}

.prod p {
  font-family: Rubik;
  font-size: 20px;
  text-transform: uppercase;
}
.prod h3 {
  font-family: Rubik;
  font-size: 70px;
  text-transform: capitalize;
}

.more-products h3 {
  font-family: Rubik;
  font-weight: bold;
  font-size: 70px;
}
.products {
  width: 32%;
  position: relative;
}
.product-content {
  position: absolute;
  width: 100%;
  height: 63%;
  top: 0px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: Rubik;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-1 {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.5s;
  font-weight: bold;
}

.sho {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.5s;
  font-weight: bold;
}

.shop-1:hover {
  background-color: #fff;
  color: #000;
}
.product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
}

.product-content span {
  display: block;
  font-size: 20px;
}

.product-content span:nth-child(2) {
  font-size: 50px;
  font-family: Rubik;
}

.products h4 {
  font-size: 41px;
  font-family: Rubik;
  color: #000;
  text-transform: capitalize;
}

.product-slider-section {
  padding: 100px 0;
}

.slider-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

h6 {
  font-size: 20px;
  font-weight: 300;
  color: #151515;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.77px;
}
h3 {
  font-size: 60px;
  font-weight: bold;
  font-family: Rubik;
}

.slide-content p {
  margin-top: 10px;
  font-size: 14px;
}

.slide-content p:nth-child(1),
.slide-content p:nth-child(3) {
  font-size: 20px;
  font-weight: 900;
}

.slide-content p strike,
.slide-content p span {
  color: #000;
  font-weight: 500;
  font-size: 12px;
}

.slide-content p span {
  color: #ec791d;
}

.slide-sec {
  position: relative;
  height: 100%;
  cursor: pointer;
  width: 25%;
  display: flex !important;
}

.slick-slide {
  height: auto !important;
  margin-right: 20px;
}

.slide-sec img {
  width: 100%;
  height: 100%;
}

.slide-second-img {
  width: 23%;
}

.slide-second-img img {
  width: 100%;
}



.slide-content-section {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide-content-section li {
  font-size: 18px;
  color: #000;
  margin-top: 15px;
}

.slide-content-section li:nth-child(2) {
  font-size: 20px;
  font-weight: 900;
  color: #ec791d;
}

.slide-content-section li input {
  margin-top: 40px;
  cursor: pointer;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
/* product slider end*/

/* testiomonila starts */

.testimonial .wrapper {
  background-color: #fbfbfb;
  padding: 100px 0;
}
.testimon {
  display: flex;
}

.pic span:hover {
  cursor: pointer;
}

.testimonial-content {
  display: flex;
  font-family: Rubik;
  font-size: 18px;
  line-height: 28px;
}

.fn {
  font-size: 50px;
  color: #e8b00e;
}

.fo {
  font-size: 50px;
  color: rgba(1, 1, 1, 0.2);
}

.profile-pic {
  padding-top: 50px;
  border-bottom: 1px solid #000;
}
.profile-pic::after {
  content: "▼";
  position: relative;
  height: 20px;
  width: 20px;
  left: 20%;
  top: 25px;
  font-size: 30px;
}
.pic {
  height: 100px;
  width: 50%;
  margin-left: 4%;
  margin-top: 30px;
}
.pic span {
  height: 70px;
  width: 10%;
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  margin-left: 3%;
}
.pic span img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.test-content {
  padding: 10px 50px;
  letter-spacing: 0.45px;
  font-size: 18px;
  line-height: 28px;
}

/* testiomonila ends */

/* footer section start */
footer {
  border-top: 1px solid #000;
}
footer .wrapper {
  display: flex;
  padding: 50px 10px;
  justify-content: space-between;
}
.social-icons ul {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social-icons ul li {
  margin-left: 15%;
}

.socio {
  font-size: 18px;
}
.social-icons h5 {
  font-weight: 300;
  margin-top: 30px;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 1px;
}
.fab {
  font-size: 17px;
}

.footer-section h5 a {
  font-weight: bold;
  color: #000;
  font-family: Rubik;
  text-transform: uppercase;
}

.footer-section ul li a {
  color: #000;
  font-family: Rubik;
  display: inline-block;
  margin: 10px 0;
  font-size: 16px;
}

.footer-section ul li a:hover {
  color: #000;
  font-weight: bold;
}

.foot-section {
  font-weight: bold;
  color: #000;
  font-family: Rubik;
  width: 77%;
  font-size: 24px;
}
.footer-section p {
  width: 72%;
  color: #000;
  font-family: Rubik;
  margin: 25px 0;
  font-size: 15px;
  line-height: 25px;
}
.terms {
  margin-top: 50px;
}
input {
  padding: 10px 70px;
}
form button {
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
  margin-left: 15px;
}
form button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.copyright {
  padding: 30px 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-family: Rubik;
  text-align: center;
  background-color: #f7f7f7;
}

/* footer section end */

/* media query start  */

@media only screen and (max-width: 1024px) {
  .california-content {
    width: 100%;
  }
  .video-iframe {
    width: 100%;
    padding-top: 100px;
    justify-content: center;
  }
  .colifornia-main {
    display: flex;
    flex-direction: column;
  }

  .testimon {
    display: flex;
    flex-direction: column;
  }
  .pic {
    height: 100px;
    width: 80%;
    margin-left: 4%;
    margin-top: 30px;
  }
  footer .wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    justify-content: center;
  }
  .footer-logo {
    display: none;
  }
  .social-icons {
    order: 5;
  }
  .foot-section {
    margin-top: 50px;
  }
  .help {
    margin-top: 30px;
  }
  .social-icons ul {
    padding-bottom: 30px;
  }
  .social-icons ul li {
    margin-left: 0;
  }
  .so-ic {
    order: 5;
  }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 186px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .banner-section-content {
    padding-top: 400px;
  }
  .nav-link {
    font-size: 18px;
  }
  .truck {
    display: none;
  }
  h1 {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 186px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .banner-section-content {
    padding-top: 380px;
  }
  .shop {
    width: 25%;
  }
  h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .product-grid {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
  }
  .products {
    width: 90%;
    margin-left: 5%;
    position: relative;
  }
  .more-products h3 {
    text-align: center;
  }
  .product-content .shop-1 {
    display: inline-block;
    padding: 25px 30px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
  }
  input {
    padding: 10px 70px;
    margin-top: 0px;
  }
  .pic {
    height: 100px;
    width: 100%;
    margin-left: 0%;
    margin-top: 30px;
  }
  .pic span {
    height: 70px;
    width: 11%;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;
    margin-left: 3%;
  }
  .banner-main {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .banner-content {
    width: 100%;
    text-align: center;
    margin: auto 0;
  }
  .banner-img{
    width: 90%;
    margin-left: 5%;
  }
  .california-section {
    margin: 250px auto;
    padding: 150px 0;
  }
}
@media only screen and (max-width: 600px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 186px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .banner-section-content {
    padding-top: 380px;
  }
  .shop {
    width: 25%;
  }
  h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .product-grid {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
  }
  .products {
    width: 90%;
    margin-left: 5%;
    position: relative;
  }
  .more-products h3 {
    text-align: center;
  }
  .product-content .shop-1 {
    display: inline-block;
    padding: 25px 30px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
  }
  input {
    padding: 10px 70px;
    margin-top: 0px;
  }
  .pic {
    height: 100px;
    width: 100%;
    margin-left: 0%;
    margin-top: 30px;
  }
  .pic span {
    height: 70px;
    width: 11%;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;
    margin-left: 3%;
  }
  .banner-main {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .banner-content {
    width: 100%;
    text-align: center;
    margin: auto 0;
  }
  .banner-img{
    width: 90%;
    margin-left: 5%;
  }
  .california-section {
    margin: 250px auto;
    padding: 150px 0;
  }
}
